<div >
  <div>
    <form #f="ngForm">
      <div class="inline-radio">
        <div><input id="single" type="radio"  name="title"  (click)="onType('single')" ><label for="single">Single</label></div>
        <div><input id="multi" type="radio" name="title"   (click)="onType('multi')"><label for="multi">Multi</label></div>
        <div><input id="open" type="radio" name="title"   (click)="onType('open')"><label for="open">Open</label></div>
        <div><input id="numbers" type="radio" name="title"   (click)="onType('numbers')" ><label for="numbers">Numbers</label></div>
        <div><input id="info" type="radio" name="title" (click)="onType('info')" ><label for="info">Info</label></div>
      </div>
      <div *ngIf="questionType === 'single'" class="inline-radio">
        <div><input id="1" name="loop" type="checkbox" [checked]="loop" (change)="LoopChange()"><label for="1">Loop</label></div>
        <div><input id="2" name="clickableImages" type="checkbox" [checked]="clickableImages" (change)="ClickImgChange()">><label for="2">Click Images</label></div>
        <div><input id="3" name="dynamicGrid" type="checkbox" [checked]="dynamicGrid" (change)="DynamicGrigChange()">><label for="3">Dynamic Grid</label></div>
        <div><input id="4" name="scala" type="checkbox" [checked]="scala" (change)="ScalaChange()">><label for="4">Scala</label></div>
      </div>
      <div *ngIf="questionType === 'multi'" class="inline-radio">
        <div><input id="5" name="loop" type="checkbox" [checked]="loop" (change)="LoopChange()"><label for="4">Loop</label></div>
        <div><input id="6" name="clickableImages" type="checkbox" [checked]="clickableImages" (change)="ClickImgChange()"><label for="5">Clickable Images</label></div>
        <div><input id="7" name="dynamicGrid" type="checkbox" [checked]="dynamicGrid" (change)="DynamicGrigChange()">><label for="6">Dynamic Grid</label></div>
      </div>
      <div *ngIf="questionType === 'open'" >
        <input id="openCode" type="checkbox" [checked]="open" (change)="OpenCodesChange()"><label for="openCode">Code</label>
      </div>
      <div *ngIf="questionType === 'numbers'">
        <input id="numbersCode" type="checkbox" [checked]="numbersCodes" (change)="NumberCodesChange()"><label for="numbersCode">Code</label>
      </div>
    </form>
  </div>
</div>

