.flexContainer {
  display: inline-flex;
  flex-direction: row-reverse;
  flex-wrap: wrap-reverse;
  justify-content: space-around;
}

.main {
  max-width: 550px;
  flex-basis: auto;
}

.flex-element {
  flex-grow: 1;
}

