.flexContainer {
  direction: rtl;
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
}
.display {
  padding-right: 150px;
}
.flexElement {
  color: #fff;
  padding: 15px;
  margin: 5px;
  background: #b22222;
  border-radius: 3px;
  flex-grow: 1;
}
.flex-container {
  direction: rtl;
  display: flex;
}
.hamburger {
  display: block;
  position: relative;
  overflow: hidden;
  margin: 0;
  padding: 0;
  width: 96px;
  height: 96px;
  font-size: 0;
  text-indent: -9999px;
  cursor: pointer;
  outline: none;
  background: none;
  border: 0;
}
.hamburger span {
  display: block;
  position: absolute;
  top: 44px;
  left: 18px;
  right: 18px;
  height: 8px;
  background: #1a2580;
}
.hamburger span::before,
.hamburger span::after {
  display: block;
  position: absolute;
  left: 0;
  width: 100%;
  height: 8px;
  background-color: #1a2580;
  content: "";
}
.hamburger span::before {
  top: -20px;
}
.hamburger span::after {
  bottom: -20px;
}
.hamburger {
  display: block;
  position: relative;
  overflow: hidden;
  margin: 0;
  padding: 0;
  width: 96px;
  height: 96px;
  font-size: 0;
  text-indent: -9999px;
  cursor: pointer;
  outline: none;
  background: none;
  border: 0;
}
.hamburger span {
  display: block;
  position: absolute;
  top: 44px;
  left: 18px;
  right: 18px;
  height: 8px;
  background: #1a2580;
}
.hamburger span::before,
.hamburger span::after {
  display: block;
  position: absolute;
  left: 0;
  width: 100%;
  height: 8px;
  background-color: #1a2580;
  content: "";
}
.hamburger span::before {
  top: -20px;
}
.hamburger span::after {
  bottom: -20px;
}
