<div class="flexContainer">
    <div class="main flex-element">
      <app-header></app-header>
      <app-questinarie></app-questinarie>
    </div>
    <div class="display flex-element">
      <app-display></app-display>
    </div>
</div>


<div class="flex-container">
  <div class="flexElement flex-1">1</div>
  <div class="flexElement">2</div>
  <div class="flexElement">3</div>
  <div class="flexElement">4</div>
  <div class="flexElement">5</div>
  <div class="flexElement flex-6">6</div>
</div>
