<div style="margin-top: 10px">
    <form (ngSubmit)="onSubmit(f)" #f="ngForm">
        <!--Question Name + Question-->
        <div class="form-group" >
          <label  for="questionName">Question Name</label>
          <input id="questionName" class="form-control" type="text" name="questionName"  [ngModel]="questionName" >
            <!--<ul class="row list-inline form-control" style="margin: 0; background-color: rgba(216, 27, 96, 0.09)">-->
              <!--<li><button  type="button" (click)="onTags('<b>', '</b>')"><b>B</b></button></li>-->
              <!--<li><button  type="button" (click)="onTags('<u>', '</u>')"><u>U</u></button></li>-->
              <!--<li><button  type="button" (click)="onTags('<h3>', '</h3>')">h3</button></li>-->
              <!--<li><button  type="button" (click)="onTags('<h4>', '</h4>')">h4</button></li>-->
              <!--<li><input id="textcolor" type="color"  name="color"></li>-->
              <!--<li><button  type="button" onclick="colors()">Color</button></li>-->
            <!--</ul>-->
          <!--[froalaEditor]-->
          <textarea
            style="background-color: rgba(216, 27, 96, 0.09)"
            name="questionText"
            id="question"
            rows="4"
            class="form-control"
            required
            placeholder="Enter your question here"
            [(ngModel)]="questionText"></textarea>
        </div>
        <!--Note-->
        <span class="help-block alert alert-info" *ngIf="noteText">{{ noteText }}</span>

        <!--Answers Block-->
          <div style="display: flex">
            <div>
            <textarea style="line-height: 2.4; " class="form-control" id="answerTextArea" cols="25" rows="13" placeholder="Enter Answers here" name="answerTextArea" [(ngModel)] = "answers"></textarea>
            </div>
            <div >
              <div  *ngFor="let parameter of answerParameters">
                <div  class="form-control btn-group"  >
                <label>{{parameter.name}}</label>
                  <!--<label class="btn btn-info" >Other-->
                    <!--<input #cb1 type="checkbox" name="other"   value="{{parameter.other}}" [(ngModel)]="parameter.other"  >-->
                    <!--<span class="glyphicon glyphicon-ok"></span>-->
                  <!--</label>-->
                  <!--<label class="btn btn-primary ">Exclusive-->
                    <!--<input type="checkbox" name="exclusive" value="{{parameter.name}}" [(ngModel)]="parameter.exclusive"  >-->
                    <!--<span class="glyphicon glyphicon-ok"></span>-->
                  <!--</label>-->
                  <!--<label class="btn btn-success ">Fix-->
                    <!--<input type="checkbox" name="fix" value="{{parameter.name}}" [(ngModel)]="parameter.fix" >-->
                    <!--<span class="glyphicon glyphicon-ok"></span>-->
                  <!--</label>-->
                  <label class="btn btn-info">Other
                      <input id="other" name="other" type="checkbox"  value="{{parameter.name}}" [(ngModel)]="parameter.other">
                  </label>
                  <label class="btn btn-primary">Exclusive
                  <input id="exclusive" name="exclusive" type="checkbox" value="{{parameter.name}}" [(ngModel)]="parameter.exclusive" >
                  </label>
                  <label class="btn btn-success">Fix
                    <input id="fix" name="fix" type="checkbox" value="{{parameter.name}}" [(ngModel)]="parameter.fix">
                  </label>
                </div>
              </div>
              <div >
              <label class="btn btn-danger" style="display: flex; justify-content: center;">Rotation
              <input type="checkbox" name="random" [(ngModel)]="random">
              <span class="glyphicon glyphicon-ok"></span>
              </label>
              </div>
            </div>
          </div>

        <!--Submit Button-->
        <button type="submit" class="btn btn-primary btn-block" [disabled]="!f.valid">ADD</button>
    </form>
</div>



