<div style="margin-top: 10px">
    <form (ngSubmit)="onSubmit(f)" #f="ngForm">
        <div class="form-group">
          <label  for="questionName">Question Name</label>
          <input id="questionName" class="form-control" type="text" name="questionName"  [ngModel]="questionName" >
            <ul class="row list-inline form-control" style="margin: 0; background-color: rgba(216, 27, 96, 0.09)">
              <li><button  type="button" (click)="onTags('<b>', '</b>')"><b>B</b></button></li>
              <li><button  type="button" (click)="onTags('<u>', '</u>')"><u>U</u></button></li>
              <li><button  type="button" (click)="onTags('<h3>', '</h3>')">h3</button></li>
              <li><button  type="button" (click)="onTags('<h4>', '</h4>')">h4</button></li>
              <li><input id="textcolor" type="color"  name="color"></li>
              <li><button  type="button" onclick="colors()">Color</button></li>
            </ul>
          <textarea
            style="background-color: rgba(216, 27, 96, 0.09)"
            name="questionText"
            id="question"
            rows="4"
            class="form-control"
            placeholder="Enter your question here"
            [(ngModel)]="questionText"></textarea>
        </div>
        <span class="help-block alert alert-info" *ngIf="noteText">{{ noteText }}</span>

        <div style="display: flex">
          <div>
          <textarea style="line-height: 2.4;" class="form-control" id="answerTextArea" cols="25" rows="15" placeholder="Enter Answers here" name="answerTextArea" [(ngModel)] = "answers"></textarea>
          </div>
          <div >
            <div class="form-control" *ngFor="let parameter of answerParameters; let i = index">
              <label>{{parameter.value}}</label>
              <label>Fix
              <input id="fix" name="fix" type="checkbox" value="{{parameter.value}}" [ngModel]="parameter[i].checked">
              </label>
              <!--<label>Exclusive-->
              <!--<input id="exclusive" name="exclusive" type="checkbox" value="{{parameter.value}}" [(ngModel)]="parameter.checked" >-->
              <!--</label>-->
              <!--<label>Other-->
              <!--<input id="other" name="other" type="checkbox"  value="{{parameter.value}}" [(ngModel)]="parameter.checked">-->
              <!--</label>-->
            </div>
          </div>

        </div>
        <button type="submit" class="btn btn-primary btn-block">ADD</button>
    </form>
</div>



