#questionName {
  margin-bottom: 10px;
  width: 100px;
}

#answerTextArea, #loopPropertiesArea {
  white-space: nowrap;
  background-color: rgba(216, 27, 96, 0.02)
}

label {
  padding: 2px;
}

.btn span.glyphicon {
  opacity: 0.1;
}
.btn.active span.glyphicon {
  opacity: 1;
}
